*{
    margin: 0px;
    box-sizing: border-box;
}
.page-wrapper{
    width: 100%;

}
.header{
    width: 100%;
    background-color: purple;
    padding: 10px 0px;
}
.header-container{
    width: 100%;
    margin-left: 5%;
    color: white;
}
.body-wrapper{
    width: 100%;
}
.body-container{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
ul.list{
    list-style-type: none;
    background-color: white;
    padding: 0PX;
    margin: 0px;
}
ul li{
    background-color: skyblue;
    margin-bottom: 10px;
    padding: 5px 0px;
}
a{
    color: black;
    text-decoration: none;

}
ol.region-list{
    margin: 0px;
    padding: 0px 15px;
}
.info-box{
    background-color: skyblue;
    color: white    ;
}
.body-content{
    width: 100%;
    padding: 0px;
}
.footer{
    width: 100%;
    padding: 0px;
    margin-top: 10px;
}
.footer-container{
    background-color:blue;
    width: 90%;
    margin: auto;
    padding: 10px;
}
